.Search {
  margin-top: 1%;
  input {
    font-size: 1.5em;
  }
  button {
    font-size: 1.5em;
  }

  .Search-History {
    position: absolute;
    z-index: 100;
    width: 300px;
    padding: 0;
  }

  li {
    background-color: white;
    cursor: pointer;
    font-size: 1.5em;
    text-align: start;
    border: 1px solid black;
  }
}

@media screen and (max-width: 950px) {
  .Search {
    input {
      font-size: 1.2em;
    }
    button {
      font-size: 1.2em;
    }
    .Search-History {
      width: 100%;
    }
    li {
      width: 249px;
    }
  }
}

@media screen and (max-width: 450px) {
  .Search {
    input {
      font-size: 1em;
    }
    button {
      font-size: 1em;
    }

    li {
      width: 249px;
    }
  }
}
